<style>
    .todo-form {
        display: flex;
        flex-direction: column;

        max-width: 50%;

        margin-left: 25%;

        padding-top: 4em;
    }

    .todo-input {
        display: flex;
        flex-direction: column;
    }
</style>

<div class="todo-form">
    <h1>Todo App v2</h1>
    <div class="todo-input">
        <label for="todo-input-control">Escribe algo por hacer:</label>
        <input id="todo-input-control" placeholder="Ej. Comprar leche">
    </div>
    <button id="todo-add">Agregar</button>
</div>