<style>

    #tienda-registrar-producto {
        background-color: whitesmoke;
        height: 100%;
        padding: 4em;
        display: flex;
        flex-direction: column;
    }

</style>

<div id="tienda-registrar-producto">
    <label>Código de barras:</label>
    <input id="registrar-codigo-barras" type="text" placeholder="Ej. 012345678">
    <label>Nombre:</label>
    <input id="registrar-nombre" type="text" placeholder="Ej. Coca Cola">
    <label>Precio:</label>
    <input id="registrar-precio" type="text" placeholder="Ej. 17.5">
    <label>Existencias:</label>
    <input id="registrar-existencias" type="text" placeholder="Ej. 1000">
    <button id="tienda-registrar-boton">Registrar ✴️</button>
</div>